/*MARK - bovenkant van pagina */
.waarschuwing {
    background-color: red;
    text-align: center;
}

span {
    margin: 0;
    padding: 1em;
    font-family: Lucida Grande, Gill Sans, sans-serif;
    color: rgb(6, 153, 6);
    font-weight: 700;
}

.bovenkant {
    background-color: #FFC917;
    text-align: center;
}

h1 {
    margin: 0;
    color: #003082;
    font-family: NS Sans, Verdana, sans-serif;
    font-weight: 800;
}

.naarVoren {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 12px lightblue;
    width: 600px;
}

/*MARK - formulier */
legend {
    font-family: NS Sans, Verdana, sans-serif;
    color: #003082;
    font-weight: 700;
}

.labels {
    display: inline-block;
    width: 200px;
}

/* MARK - voor de validatie */
.error {
    color: #FFC917;
    display: none;
}

label:has(input:invalid) + .error {
    display:block;
}

/* MARK - styling */
label, p {
    font-family: NS Sans, Verdana, sans-serif;
    color: #003082;
    font-size: medium;
}

h2 {
    font-family: NS Sans, Verdana, sans-serif;
    color: #003082;
}

body {
    background-color: #E6E6E9;
    margin: 0px;
}

/* MARK - formulier in het midden van het scherm */
.grid {
    display: grid;
    grid-template-columns: 1fr minmax(0px, 600px) 1fr;
}

.grid > * {
    grid-column: 2;
}

.bovenkant {
    grid-column: 1 / -1;
}

form {
    margin: auto;
}

/* MARK - info buttons */
fieldset {
    position: relative;
}

.info1 summary {
    list-style: none;
    color: #FFC917;
    font-weight: bold;
    font-size: large;
    position: absolute;
    top: 0;
    right: 1em;
    cursor: pointer;
}

.infoKleur {
    color: #1c83c7;
    font-size: small;
}

    /*MARK- Verschijnende vragen */
.ja-vragen {
    display:none;
}

label:has(input[value="ja"]:checked) ~ .ja-vragen {
    display: block;
    border-radius: 5px;
}


.nee-vragen {
    display: none;
}

label:has(input[value="nee"]:checked) ~ .nee-vragen {
    display: block;
    border-radius: 50%;
}


.akte-upload {
    display: none;
}

.ja-vragen:has(input[value="ja"]:checked) .akte-upload {
    display: block;
}


.geenExecuteur {
    display: none;
}

.nee-vragen:has(input[value="ja"]:checked) .geenExecuteur {
    display: block;
}

    /*MARK - Verschijnende vragen 2 */
.in-vragen {
    display:none;
}

label:has(input[value="inNederland"]:checked) ~ .in-vragen {
    display: block;
    border-radius: 50%;
}

.uit-vragen {
    display:none;
}

label:has(input[value="uitNederland"]:checked) ~ .uit-vragen {
    display: block;
    border-radius: 50%;
}

/* MARK - minder ruimte tussen de vraag en het invoerveld */
input {
    margin-bottom: -.5em;
}

/* MARK - sommige vragen tekst iets kleiner */
.kleiner {
    font-size: small;
}

/*MARK - knoppen onderin */
.knoppen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100px;
    gap: 10px;
}

.knop1, .knop2, .knop3 {
    background-color: #0063d3;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

